In [28]:
#Load the library
import pandas as pd

In [29]:
#Reading Juniata Women Soccer stats from website
jcws=pd.read_html("Juniata_women_soccer.html")
jcws

[             Schedule Summary          Schedule Summary.1
 0              Overall (Pct.)               2-12-4 (.222)
 1           Conference (Pct.)                0-6-1 (.071)
 2                      Streak                      Lost 3
 3                        Home                       2-5-2
 4                        Away                       0-7-2
 5                     Neutral                         0-0
 6  Full Scores and Schedule »  Full Scores and Schedule »,
   Recent Games Recent Games.1 Recent Games.2
 0        Oct 8   at  Catholic         L, 4-0
 1       Oct 12    Susquehanna         L, 4-0
 2       Oct 15        Goucher         T, 0-0
 3       Oct 22           Drew         L, 2-1
 4       Oct 26       Lycoming         L, 2-1
 5       Oct 29   at  Scranton         L, 3-0,
         Statistics category Overall Overall.1  Conf Conf.1
 0                     Games      18        18     7      7
 1                     Shots     106       106    26     26
 2              Goals scored       8         8     1      1
 3           Shot percentage    .075      .075  .038   .038
 4            Shots-per game     5.9       5.9   3.7    3.7
 5             Shots on goal      48        48    10     10
 6            SOG percentage    .453      .453  .385   .385
 7                   Assists       8         8     0      0
 8              Corner kicks      55        55    15     15
 9             Penalty kicks     1-1       1-1   1-1    1-1
 10             Yellow cards       5         5     1      1
 11                Red cards       0         0     0      0
 12                 Shutouts       4         4     1      1
 13          Home Attendance    1630      1630   882    882
 14  Home Attendance average     182       182   221    221,
      No.                Name   Yr  Pos  gp  gs  gpg   a/g pts/g   sh/g   sh%  \
 0    0.0         Julia  Lane  So.   GK   3   3  .00   .00   .00    .00     -
 1    0.0         Cati  Besch  Sr.   GK   8   8  .00   .00   .00    .00     -
 2    2.0         Mia  Gianni  Fr.  NaN  15   3  .00   .00   .00    .00     -
 3    4.0  Ashley  McWilliams  Jr.    D  18  18  .00   .17   .17    .56  .000
 4    5.0  Breanne G  Spencer  Fr.  NaN   7   0  .00   .00   .00    .00     -
 5    7.0        Lina  Rahman  Jr.    F  18   7  .00   .00   .00    .11  .000
 6    8.0   Daniela  Scipioni  So.    M  18   7  .00   .00   .00    .22  .000
 7    9.0       Gillian  Dell  So.    D  14  13  .00   .00   .00    .57  .000
 8   10.0      Jordan  Groves  Fr.  NaN  15   1  .00   .00   .00    .07  .000
 9   11.0       Amelia  Yordy  Fr.  NaN  18   6  .11   .00   .22    .67  .167
 10  12.0     Savanna  Murray  Fr.  NaN  18   5  .06   .00   .11    .61  .091
 11  13.0      Brooke  Jordan  Jr.  NaN  12   5  .00   .00   .00    .08  .000
 12  14.0    Mariah  McDonald  Jr.    D  15  13  .00   .07   .07    .53  .000
 13  15.0    Megan  McConnell  Jr.    D  14   7  .00   .00   .00    .00     -
 14  16.0         Kara  Mette  Jr.  M/D  11   3  .00   .00   .00    .18  .000
 15  17.0         Alyssa  Bui  So.    M  18  14  .11   .06   .28   1.06  .105
 16  18.0    Colleen  O'Brien  Sr.    M  18  16  .06   .11   .22    .72  .077
 17  19.0   Sydney  Hunsinger  Fr.  NaN  16   5  .00   .00   .00    .00     -
 18  20.0        Emma  Greggo  So.    F  18   9  .06   .00   .11    .50  .111
 19  21.0       Helen  Chavez  Sr.    M  15  12  .07   .07   .20    .33  .200
 20  22.0       Lydia  Hiller  Jr.    D  13  11  .00   .00   .00    .08  .000
 21  23.0         Emma  Mumau  Jr.    D   1   1  .00   .00   .00    .00     -
 22  24.0     Alexa  Neiderer  Sr.    D  17  15  .00   .00   .00    .00     -
 23  30.0    Aleya  Eisenberg  So.  M/D  17   7  .00   .00   .00    .00     -
 24  32.0        Avery  Zales  Jr.   GK   8   7  .00   .00   .00    .00     -
 25  42.0      Brooke  Hinkle  So.   GK   -   -    -     -     -      -     -
 26  56.0    Hayden  Thompson  Sr.   GK   -   -    -     -     -      -     -
 27   NaN              Totals  NaN  NaN  18  18  .44   .44  1.33   5.89  .075
 28   NaN            Opponent  NaN  NaN  18  18  .44  1.17  4.50  13.44  .124

    sog/g   sog%
 0    .00      -
 1    .00      -
 2    .00      -
 3    .11   .200
 4    .00      -
 5    .06   .500
 6    .00   .000
 7    .21   .375
 8    .00   .000
 9    .44   .667
 10   .28   .455
 11   .00   .000
 12   .20   .375
 13   .00      -
 14   .18  1.000
 15   .28   .263
 16   .61   .846
 17   .00      -
 18   .22   .444
 19   .20   .600
 20   .08  1.000
 21   .00      -
 22   .00      -
 23   .00      -
 24   .00      -
 25     -      -
 26     -      -
 27  2.67   .453
 28  7.56   .562  ,
     No.              Name   Yr  Pos  gp  gs  min/g  ga/g   gaa  sv/g   sv%
 0   0.0       Julia  Lane  So.   GK   3   3  90:00  1.67  1.67  5.00  .750
 1   0.0       Cati  Besch  Sr.   GK   8   8  84:22  1.75  1.87  6.00  .774
 2  32.0      Avery  Zales  Jr.   GK   8   7  84:22  1.38  1.47  5.00  .784
 3  42.0    Brooke  Hinkle  So.   GK   -   -   0:00     -     -     -     -
 4  56.0  Hayden  Thompson  Sr.   GK   -   -   0:00     -     -     -     -
 5   NaN            Totals  NaN  NaN  18  18  90:00  1.67  1.67  5.72  .774
 6   NaN          Opponent  NaN  NaN  18  18  90:00   .44  0.44  2.17  .830,
      No.                Name   Yr  Pos  gp  gs   g   a  pts   sh   sh%  sog  \
 0    0.0         Julia  Lane  So.   GK   3   3   0   0    0    0     -    0
 1    0.0         Cati  Besch  Sr.   GK   8   8   0   0    0    0     -    0
 2    2.0         Mia  Gianni  Fr.  NaN  15   3   0   0    0    0     -    0
 3    4.0  Ashley  McWilliams  Jr.    D  18  18   0   3    3   10  .000    2
 4    5.0  Breanne G  Spencer  Fr.  NaN   7   0   0   0    0    0     -    0
 5    7.0        Lina  Rahman  Jr.    F  18   7   0   0    0    2  .000    1
 6    8.0   Daniela  Scipioni  So.    M  18   7   0   0    0    4  .000    0
 7    9.0       Gillian  Dell  So.    D  14  13   0   0    0    8  .000    3
 8   10.0      Jordan  Groves  Fr.  NaN  15   1   0   0    0    1  .000    0
 9   11.0       Amelia  Yordy  Fr.  NaN  18   6   2   0    4   12  .167    8
 10  12.0     Savanna  Murray  Fr.  NaN  18   5   1   0    2   11  .091    5
 11  13.0      Brooke  Jordan  Jr.  NaN  12   5   0   0    0    1  .000    0
 12  14.0    Mariah  McDonald  Jr.    D  15  13   0   1    1    8  .000    3
 13  15.0    Megan  McConnell  Jr.    D  14   7   0   0    0    0     -    0
 14  16.0         Kara  Mette  Jr.  M/D  11   3   0   0    0    2  .000    2
 15  17.0         Alyssa  Bui  So.    M  18  14   2   1    5   19  .105    5
 16  18.0    Colleen  O'Brien  Sr.    M  18  16   1   2    4   13  .077   11
 17  19.0   Sydney  Hunsinger  Fr.  NaN  16   5   0   0    0    0     -    0
 18  20.0        Emma  Greggo  So.    F  18   9   1   0    2    9  .111    4
 19  21.0       Helen  Chavez  Sr.    M  15  12   1   1    3    5  .200    3
 20  22.0       Lydia  Hiller  Jr.    D  13  11   0   0    0    1  .000    1
 21  23.0         Emma  Mumau  Jr.    D   1   1   0   0    0    0     -    0
 22  24.0     Alexa  Neiderer  Sr.    D  17  15   0   0    0    0     -    0
 23  30.0    Aleya  Eisenberg  So.  M/D  17   7   0   0    0    0     -    0
 24  32.0        Avery  Zales  Jr.   GK   8   7   0   0    0    0     -    0
 25  42.0      Brooke  Hinkle  So.   GK   -   -   -   -    0    -     -    -
 26  56.0    Hayden  Thompson  Sr.   GK   -   -   -   -    0    -     -    -
 27   NaN              Totals  NaN  NaN  18  18   8   8   24  106  .075   48
 28   NaN            Opponent  NaN  NaN  18  18  30  21   81  242  .124  136

      sog% yc rc   pk  gw
 0       -  0  0  0-0   0
 1       -  0  0  0-0   0
 2       -  0  0  0-0   0
 3    .200  0  0  0-0   0
 4       -  0  0  0-0   0
 5    .500  0  0  0-0   0
 6    .000  0  0  0-0   0
 7    .375  0  0  0-0   0
 8    .000  0  0  0-0   0
 9    .667  0  0  0-0   2
 10   .455  0  0  1-1   0
 11   .000  0  0  0-0   0
 12   .375  0  0  0-0   0
 13      -  1  0  0-0   0
 14  1.000  0  0  0-0   0
 15   .263  0  0  0-0   0
 16   .846  0  0  0-0   0
 17      -  0  0  0-0   0
 18   .444  0  0  0-0   0
 19   .600  0  0  0-0   0
 20  1.000  2  0  0-0   0
 21      -  0  0  0-0   0
 22      -  1  0  0-0   0
 23      -  0  0  0-0   0
 24      -  0  0  0-0   0
 25      -  -  -  0-0   -
 26      -  -  -  0-0   -
 27   .453  5  0  1-1   2
 28   .562  7  0  1-1  12  ,
     No.              Name   Yr  Pos  gp  gs      min  ga   gaa   sv   sv%  \
 0   0.0       Julia  Lane  So.   GK   3   3   270:00   5  1.67   15  .750
 1   0.0       Cati  Besch  Sr.   GK   8   8   675:00  14  1.87   48  .774
 2  32.0      Avery  Zales  Jr.   GK   8   7   675:00  11  1.47   40  .784
 3  42.0    Brooke  Hinkle  So.   GK   -   -     0:00   -     -    -     -
 4  56.0  Hayden  Thompson  Sr.   GK   -   -     0:00   -     -    -     -
 5   NaN            Totals  NaN  NaN  18  18  1620:00  30  1.67  103  .774
 6   NaN          Opponent  NaN  NaN  18  18  1620:00   8  0.44   39  .830

   wins losses ties shutouts
 0    1      1    1      1/0
 1    1      7    0      1/0
 2    0      4    3      2/0
 3    -      -    -      0/0
 4    -      -    -      0/0
 5    2     12    4        4
 6   12      2    4       12  ,
      No.                Name   Yr  Pos gp gs  gpg   a/g pts/g   sh/g   sh%  \
 0    0.0         Julia  Lane  So.   GK  1  1  .00   .00   .00    .00     -
 1    0.0         Cati  Besch  Sr.   GK  3  3  .00   .00   .00    .00     -
 2    2.0         Mia  Gianni  Fr.  NaN  6  1  .00   .00   .00    .00     -
 3    4.0  Ashley  McWilliams  Jr.    D  7  7  .00   .00   .00    .57  .000
 4    5.0  Breanne G  Spencer  Fr.  NaN  3  0  .00   .00   .00    .00     -
 5    7.0        Lina  Rahman  Jr.    F  7  2  .00   .00   .00    .00     -
 6    8.0   Daniela  Scipioni  So.    M  7  2  .00   .00   .00    .00     -
 7    9.0       Gillian  Dell  So.    D  4  4  .00   .00   .00    .75  .000
 8   10.0      Jordan  Groves  Fr.  NaN  7  0  .00   .00   .00    .00     -
 9   11.0       Amelia  Yordy  Fr.  NaN  7  4  .00   .00   .00    .29  .000
 10  12.0     Savanna  Murray  Fr.  NaN  7  3  .14   .00   .29    .71  .200
 11  13.0      Brooke  Jordan  Jr.  NaN  3  1  .00   .00   .00    .00     -
 12  14.0    Mariah  McDonald  Jr.    D  7  7  .00   .00   .00    .29  .000
 13  15.0    Megan  McConnell  Jr.    D  6  2  .00   .00   .00    .00     -
 14  16.0         Kara  Mette  Jr.  M/D  4  0  .00   .00   .00    .00     -
 15  17.0         Alyssa  Bui  So.    M  7  7  .00   .00   .00   1.14  .000
 16  18.0    Colleen  O'Brien  Sr.    M  7  6  .00   .00   .00    .29  .000
 17  19.0   Sydney  Hunsinger  Fr.  NaN  6  1  .00   .00   .00    .00     -
 18  20.0        Emma  Greggo  So.    F  7  4  .00   .00   .00    .00     -
 19  21.0       Helen  Chavez  Sr.    M  6  6  .00   .00   .00    .00     -
 20  22.0       Lydia  Hiller  Jr.    D  5  5  .00   .00   .00    .00     -
 21  23.0         Emma  Mumau  Jr.    D  1  1  .00   .00   .00    .00     -
 22  24.0     Alexa  Neiderer  Sr.    D  7  6  .00   .00   .00    .00     -
 23  30.0    Aleya  Eisenberg  So.  M/D  7  0  .00   .00   .00    .00     -
 24  32.0        Avery  Zales  Jr.   GK  3  3  .00   .00   .00    .00     -
 25  42.0      Brooke  Hinkle  So.   GK  -  -    -     -     -      -     -
 26  56.0    Hayden  Thompson  Sr.   GK  -  -    -     -     -      -     -
 27   NaN              Totals  NaN  NaN  7  7  .14   .00   .29   3.71  .038
 28   NaN            Opponent  NaN  NaN  7  7  .14  1.43  6.29  17.29  .140

    sog/g  sog%
 0    .00     -
 1    .00     -
 2    .00     -
 3    .29  .500
 4    .00     -
 5    .00     -
 6    .00     -
 7    .25  .333
 8    .00     -
 9    .00  .000
 10   .43  .600
 11   .00     -
 12   .14  .500
 13   .00     -
 14   .00     -
 15   .29  .250
 16   .14  .500
 17   .00     -
 18   .00     -
 19   .00     -
 20   .00     -
 21   .00     -
 22   .00     -
 23   .00     -
 24   .00     -
 25     -     -
 26     -     -
 27  1.43  .385
 28  9.43  .545  ,
     No.              Name   Yr  Pos gp gs  min/g  ga/g   gaa  sv/g   sv%
 0   0.0       Julia  Lane  So.   GK  1  1  90:00  4.00  4.00  8.00  .667
 1   0.0       Cati  Besch  Sr.   GK  3  3  90:00  3.00  3.00  7.67  .719
 2  32.0      Avery  Zales  Jr.   GK  3  3  90:00  1.33  1.33  5.67  .810
 3  42.0    Brooke  Hinkle  So.   GK  -  -   0:00     -     -     -     -
 4  56.0  Hayden  Thompson  Sr.   GK  -  -   0:00     -     -     -     -
 5   NaN            Totals  NaN  NaN  7  7  90:00  2.43  2.43  6.86  .738
 6   NaN          Opponent  NaN  NaN  7  7  90:00   .14  0.14  1.29  .900,
      No.                Name   Yr  Pos gp gs   g   a  pts   sh   sh% sog  \
 0    0.0         Julia  Lane  So.   GK  1  1   0   0    0    0     -   0
 1    0.0         Cati  Besch  Sr.   GK  3  3   0   0    0    0     -   0
 2    2.0         Mia  Gianni  Fr.  NaN  6  1   0   0    0    0     -   0
 3    4.0  Ashley  McWilliams  Jr.    D  7  7   0   0    0    4  .000   2
 4    5.0  Breanne G  Spencer  Fr.  NaN  3  0   0   0    0    0     -   0
 5    7.0        Lina  Rahman  Jr.    F  7  2   0   0    0    0     -   0
 6    8.0   Daniela  Scipioni  So.    M  7  2   0   0    0    0     -   0
 7    9.0       Gillian  Dell  So.    D  4  4   0   0    0    3  .000   1
 8   10.0      Jordan  Groves  Fr.  NaN  7  0   0   0    0    0     -   0
 9   11.0       Amelia  Yordy  Fr.  NaN  7  4   0   0    0    2  .000   0
 10  12.0     Savanna  Murray  Fr.  NaN  7  3   1   0    2    5  .200   3
 11  13.0      Brooke  Jordan  Jr.  NaN  3  1   0   0    0    0     -   0
 12  14.0    Mariah  McDonald  Jr.    D  7  7   0   0    0    2  .000   1
 13  15.0    Megan  McConnell  Jr.    D  6  2   0   0    0    0     -   0
 14  16.0         Kara  Mette  Jr.  M/D  4  0   0   0    0    0     -   0
 15  17.0         Alyssa  Bui  So.    M  7  7   0   0    0    8  .000   2
 16  18.0    Colleen  O'Brien  Sr.    M  7  6   0   0    0    2  .000   1
 17  19.0   Sydney  Hunsinger  Fr.  NaN  6  1   0   0    0    0     -   0
 18  20.0        Emma  Greggo  So.    F  7  4   0   0    0    0     -   0
 19  21.0       Helen  Chavez  Sr.    M  6  6   0   0    0    0     -   0
 20  22.0       Lydia  Hiller  Jr.    D  5  5   0   0    0    0     -   0
 21  23.0         Emma  Mumau  Jr.    D  1  1   0   0    0    0     -   0
 22  24.0     Alexa  Neiderer  Sr.    D  7  6   0   0    0    0     -   0
 23  30.0    Aleya  Eisenberg  So.  M/D  7  0   0   0    0    0     -   0
 24  32.0        Avery  Zales  Jr.   GK  3  3   0   0    0    0     -   0
 25  42.0      Brooke  Hinkle  So.   GK  -  -   -   -    0    -     -   -
 26  56.0    Hayden  Thompson  Sr.   GK  -  -   -   -    0    -     -   -
 27   NaN              Totals  NaN  NaN  7  7   1   0    2   26  .038  10
 28   NaN            Opponent  NaN  NaN  7  7  17  10   44  121  .140  66

     sog% yc rc   pk gw
 0      -  0  0  0-0  0
 1      -  0  0  0-0  0
 2      -  0  0  0-0  0
 3   .500  0  0  0-0  0
 4      -  0  0  0-0  0
 5      -  0  0  0-0  0
 6      -  0  0  0-0  0
 7   .333  0  0  0-0  0
 8      -  0  0  0-0  0
 9   .000  0  0  0-0  0
 10  .600  0  0  1-1  0
 11     -  0  0  0-0  0
 12  .500  0  0  0-0  0
 13     -  0  0  0-0  0
 14     -  0  0  0-0  0
 15  .250  0  0  0-0  0
 16  .500  0  0  0-0  0
 17     -  0  0  0-0  0
 18     -  0  0  0-0  0
 19     -  0  0  0-0  0
 20     -  1  0  0-0  0
 21     -  0  0  0-0  0
 22     -  0  0  0-0  0
 23     -  0  0  0-0  0
 24     -  0  0  0-0  0
 25     -  -  -  0-0  -
 26     -  -  -  0-0  -
 27  .385  1  0  1-1  0
 28  .545  3  0  1-1  6  ,
     No.              Name   Yr  Pos gp gs     min  ga   gaa  sv   sv% wins  \
 0   0.0       Julia  Lane  So.   GK  1  1   90:00   4  4.00   8  .667    0
 1   0.0       Cati  Besch  Sr.   GK  3  3  270:00   9  3.00  23  .719    0
 2  32.0      Avery  Zales  Jr.   GK  3  3  270:00   4  1.33  17  .810    0
 3  42.0    Brooke  Hinkle  So.   GK  -  -    0:00   -     -   -     -    -
 4  56.0  Hayden  Thompson  Sr.   GK  -  -    0:00   -     -   -     -    -
 5   NaN            Totals  NaN  NaN  7  7  630:00  17  2.43  48  .738    0
 6   NaN          Opponent  NaN  NaN  7  7  630:00   1  0.14   9  .900    6

   losses ties shutouts
 0      1    0      0/0
 1      3    0      0/0
 2      2    1      1/0
 3      -    -      0/0
 4      -    -      0/0
 5      6    1        1
 6      0    1        6  ,
       Date              Opponent   Score  a  sh   sh%  sv  ck  yc  rc
 0    Sep 1               Chatham  L, 2-1  1   8  .125   3   7   0   0
 1    Sep 3  at Westminster (Pa.)  L, 2-0  0   5  .000   8   3   0   0
 2    Sep 4      Penn St.-Altoona  T, 0-0  0   5  .000   6   4   0   0
 3    Sep 7           at Albright  T, 2-2  3   6  .333   3   5   1   0
 4   Sep 10            at Cabrini  L, 1-0  0   3  .000   8   1   1   0
 5   Sep 14       at King's (Pa.)  L, 2-0  0   3  .000   5   2   0   0
 6   Sep 17               at Hood  L, 1-0  0   5  .000   3   3   1   0
 7   Sep 20        Pitt.-Bradford  W, 2-1  2  28  .071   3   6   0   0
 8   Sep 24              Moravian  L, 1-0  0   7  .000   4   6   0   0
 9   Sep 28          Penn College  W, 1-0  1  13  .077   4   4   1   0
 10   Oct 1      at Elizabethtown  L, 3-0  0   3  .000  11   3   0   0
 11   Oct 5   at Pitt.-Greensburg  T, 0-0  0   1  .000   4   1   0   0
 12   Oct 8           at Catholic  L, 4-0  0   2  .000   6   2   0   0
 13  Oct 12           Susquehanna  L, 4-0  0   5  .000   8   1   0   0
 14  Oct 15               Goucher  T, 0-0  0   4  .000   2   2   0   0
 15  Oct 22                  Drew  L, 2-1  0   5  .200  10   1   1   0
 16  Oct 26              Lycoming  L, 2-1  1   3  .333   8   4   0   0
 17  Oct 29           at Scranton  L, 3-0  0   0     -   7   0   0   0,
     Unnamed: 0  gp   sh  g   gfa  a pts  ga   gaa   sh%  shpg  ck   sv so yc  \
 0        Total  18  106  8  0.44  8  24  30  1.67  .075   5.9  55  103  4  5
 1   Conference   7   26  1  0.14  0   2  17  2.43  .038   3.7  15   48  1  1
 2   Exhibition   -    -  -  0.00  -   0   -     -     -   0.0   -    -  -  -
 3          NaN   -    -  -     -  -   -   -     -     -     -   -    -  -  -
 4         Home   9   78  6  0.67  5  17  12  1.33  .077   8.7  35   48  3  2
 5         Away   9   28  2  0.22  3   7  18  2.00  .071   3.1  20   55  1  3
 6      Neutral   -    -  -  0.00  -   0   -     -     -   0.0   -    -  -  -
 7          NaN   -    -  -     -  -   -   -     -     -     -   -    -  -  -
 8         Wins   2   41  3  1.50  3   9   1  0.50  .073  20.5  10    7  1  1
 9       Losses  12   49  3  0.25  2   8  27  2.25  .061   4.1  33   81  0  3
 10         NaN   -    -  -     -  -   -   -     -     -     -   -    -  -  -
 11   September  10   83  6  0.60  7  19  12  1.20  .072   8.3  41   47  2  4
 12     October   8   23  2  0.25  1   5  18  2.25  .087   2.9  14   56  2  1

    rc
 0   0
 1   0
 2   -
 3   -
 4   0
 5   0
 6   -
 7   -
 8   0
 9   0
 10  -
 11  0
 12  0  ,
       Date               Opponent   Score  Attend
 0    Sep 1                Chatham  L, 2-1     120
 1    Sep 3  at  Westminster (Pa.)  L, 2-0     111
 2    Sep 4       Penn St.-Altoona  T, 0-0     134
 3    Sep 7           at  Albright  T, 2-2      76
 4   Sep 10            at  Cabrini  L, 1-0      92
 5   Sep 14       at  King's (Pa.)  L, 2-0     100
 6   Sep 17               at  Hood  L, 1-0     150
 7   Sep 20         Pitt.-Bradford  W, 2-1     178
 8   Sep 24               Moravian  L, 1-0     257
 9   Sep 28           Penn College  W, 1-0     215
 10   Oct 1      at  Elizabethtown  L, 3-0     110
 11   Oct 5   at  Pitt.-Greensburg  T, 0-0     103
 12   Oct 8           at  Catholic  L, 4-0     155
 13  Oct 12            Susquehanna  L, 4-0     197
 14  Oct 15                Goucher  T, 0-0     179
 15  Oct 22                   Drew  L, 2-1     249
 16  Oct 26               Lycoming  L, 2-1     101
 17  Oct 29           at  Scranton  L, 3-0     317]

In [30]:
#summary=jcws[0]
#summary
#result=jcws[1]
#result
#stats=jcws[2]
#stats
#player=jcws[3]
#player
#GK=jcws[4]
#GK
#player_repeat=jcws[5]
#table
#gk_repeat=jcws[6]
#table
#player_repeat=jcws[7]
#table
#gk_repeat=jcws[8]
#table
#player_repeat=jcws[9]
#table
#gk_repeat=jcws[10]
#table
#games=jcws[11]
#games
#split_stats=jcws[12]
#split_stats
#attendance=jcws[13]
#attendance

In [31]:
#Pick two of the longer tables, one by player and one by match/game to complete the rest of the project.
player=jcws[3]
player

,No.,Name,Yr,Pos,gp,gs,gpg,a/g,pts/g,sh/g,sh%,sog/g,sog%
0,0.0,Julia Lane,So.,GK,3,3,.00,.00,.00,.00,-,.00,-
1,0.0,Cati Besch,Sr.,GK,8,8,.00,.00,.00,.00,-,.00,-
2,2.0,Mia Gianni,Fr.,NaN,15,3,.00,.00,.00,.00,-,.00,-
3,4.0,Ashley McWilliams,Jr.,D,18,18,.00,.17,.17,.56,.000,.11,.200
4,5.0,Breanne G Spencer,Fr.,NaN,7,0,.00,.00,.00,.00,-,.00,-
5,7.0,Lina Rahman,Jr.,F,18,7,.00,.00,.00,.11,.000,.06,.500
6,8.0,Daniela Scipioni,So.,M,18,7,.00,.00,.00,.22,.000,.00,.000
7,9.0,Gillian Dell,So.,D,14,13,.00,.00,.00,.57,.000,.21,.375
8,10.0,Jordan Groves,Fr.,NaN,15,1,.00,.00,.00,.07,.000,.00,.000
9,11.0,Amelia Yordy,Fr.,NaN,18,6,.11,.00,.22,.67,.167,.44,.667
10,12.0,Savanna Murray,Fr.,NaN,18,5,.06,.00,.11,.61,.091,.28,.455
11,13.0,Brooke Jordan,Jr.,NaN,12,5,.00,.00,.00,.08,.000,.00,.000
12,14.0,Mariah McDonald,Jr.,D,15,13,.00,.07,.07,.53,.000,.20,.375
13,15.0,Megan McConnell,Jr.,D,14,7,.00,.00,.00,.00,-,.00,-
14,16.0,Kara Mette,Jr.,M/D,11,3,.00,.00,.00,.18,.000,.18,1.000
15,17.0,Alyssa Bui,So.,M,18,14,.11,.06,.28,1.06,.105,.28,.263
16,18.0,Colleen O'Brien,Sr.,M,18,16,.06,.11,.22,.72,.077,.61,.846
17,19.0,Sydney Hunsinger,Fr.,NaN,16,5,.00,.00,.00,.00,-,.00,-
18,20.0,Emma Greggo,So.,F,18,9,.06,.00,.11,.50,.111,.22,.444
19,21.0,Helen Chavez,Sr.,M,15,12,.07,.07,.20,.33,.200,.20,.600
20,22.0,Lydia Hiller,Jr.,D,13,11,.00,.00,.00,.08,.000,.08,1.000
21,23.0,Emma Mumau,Jr.,D,1,1,.00,.00,.00,.00,-,.00,-
22,24.0,Alexa Neiderer,Sr.,D,17,15,.00,.00,.00,.00,-,.00,-
23,30.0,Aleya Eisenberg,So.,M/D,17,7,.00,.00,.00,.00,-,.00,-
24,32.0,Avery Zales,Jr.,GK,8,7,.00,.00,.00,.00,-,.00,-
25,42.0,Brooke Hinkle,So.,GK,-,-,-,-,-,-,-,-,-
26,56.0,Hayden Thompson,Sr.,GK,-,-,-,-,-,-,-,-,-
27,NaN,Totals,NaN,NaN,18,18,.44,.44,1.33,5.89,.075,2.67,.453
28,NaN,Opponent,NaN,NaN,18,18,.44,1.17,4.50,13.44,.124,7.56,.562

In [32]:
games=jcws[11]
games

      Date              Opponent   Score  a  sh   sh%  sv  ck  yc  rc
0    Sep 1               Chatham  L, 2-1  1   8  .125   3   7   0   0
1    Sep 3  at Westminster (Pa.)  L, 2-0  0   5  .000   8   3   0   0
2    Sep 4      Penn St.-Altoona  T, 0-0  0   5  .000   6   4   0   0
3    Sep 7           at Albright  T, 2-2  3   6  .333   3   5   1   0
4   Sep 10            at Cabrini  L, 1-0  0   3  .000   8   1   1   0
5   Sep 14       at King's (Pa.)  L, 2-0  0   3  .000   5   2   0   0
6   Sep 17               at Hood  L, 1-0  0   5  .000   3   3   1   0
7   Sep 20        Pitt.-Bradford  W, 2-1  2  28  .071   3   6   0   0
8   Sep 24              Moravian  L, 1-0  0   7  .000   4   6   0   0
9   Sep 28          Penn College  W, 1-0  1  13  .077   4   4   1   0
10   Oct 1      at Elizabethtown  L, 3-0  0   3  .000  11   3   0   0
11   Oct 5   at Pitt.-Greensburg  T, 0-0  0   1  .000   4   1   0   0
12   Oct 8           at Catholic  L, 4-0  0   2  .000   6   2   0   0
13  Oct 12           Susquehanna  L, 4-0  0   5  .000   8   1   0   0
14  Oct 15               Goucher  T, 0-0  0   4  .000   2   2   0   0
15  Oct 22                  Drew  L, 2-1  0   5  .200  10   1   1   0
16  Oct 26              Lycoming  L, 2-1  1   3  .333   8   4   0   0
17  Oct 29           at Scranton  L, 3-0  0   0     -   7   0   0   0

In [33]:
#Changing index to Date
games.index=games.Date
games

          Date              Opponent   Score  a  sh   sh%  sv  ck  yc  rc
Date
Sep 1    Sep 1               Chatham  L, 2-1  1   8  .125   3   7   0   0
Sep 3    Sep 3  at Westminster (Pa.)  L, 2-0  0   5  .000   8   3   0   0
Sep 4    Sep 4      Penn St.-Altoona  T, 0-0  0   5  .000   6   4   0   0
Sep 7    Sep 7           at Albright  T, 2-2  3   6  .333   3   5   1   0
Sep 10  Sep 10            at Cabrini  L, 1-0  0   3  .000   8   1   1   0
Sep 14  Sep 14       at King's (Pa.)  L, 2-0  0   3  .000   5   2   0   0
Sep 17  Sep 17               at Hood  L, 1-0  0   5  .000   3   3   1   0
Sep 20  Sep 20        Pitt.-Bradford  W, 2-1  2  28  .071   3   6   0   0
Sep 24  Sep 24              Moravian  L, 1-0  0   7  .000   4   6   0   0
Sep 28  Sep 28          Penn College  W, 1-0  1  13  .077   4   4   1   0
Oct 1    Oct 1      at Elizabethtown  L, 3-0  0   3  .000  11   3   0   0
Oct 5    Oct 5   at Pitt.-Greensburg  T, 0-0  0   1  .000   4   1   0   0
Oct 8    Oct 8           at Catholic  L, 4-0  0   2  .000   6   2   0   0
Oct 12  Oct 12           Susquehanna  L, 4-0  0   5  .000   8   1   0   0
Oct 15  Oct 15               Goucher  T, 0-0  0   4  .000   2   2   0   0
Oct 22  Oct 22                  Drew  L, 2-1  0   5  .200  10   1   1   0
Oct 26  Oct 26              Lycoming  L, 2-1  1   3  .333   8   4   0   0
Oct 29  Oct 29           at Scranton  L, 3-0  0   0     -   7   0   0   0

In [34]:
#Dropping Date column
games=games.drop(columns=["Date"])
games

                    Opponent   Score  a  sh   sh%  sv  ck  yc  rc
Date
Sep 1                Chatham  L, 2-1  1   8  .125   3   7   0   0
Sep 3   at Westminster (Pa.)  L, 2-0  0   5  .000   8   3   0   0
Sep 4       Penn St.-Altoona  T, 0-0  0   5  .000   6   4   0   0
Sep 7            at Albright  T, 2-2  3   6  .333   3   5   1   0
Sep 10            at Cabrini  L, 1-0  0   3  .000   8   1   1   0
Sep 14       at King's (Pa.)  L, 2-0  0   3  .000   5   2   0   0
Sep 17               at Hood  L, 1-0  0   5  .000   3   3   1   0
Sep 20        Pitt.-Bradford  W, 2-1  2  28  .071   3   6   0   0
Sep 24              Moravian  L, 1-0  0   7  .000   4   6   0   0
Sep 28          Penn College  W, 1-0  1  13  .077   4   4   1   0
Oct 1       at Elizabethtown  L, 3-0  0   3  .000  11   3   0   0
Oct 5    at Pitt.-Greensburg  T, 0-0  0   1  .000   4   1   0   0
Oct 8            at Catholic  L, 4-0  0   2  .000   6   2   0   0
Oct 12           Susquehanna  L, 4-0  0   5  .000   8   1   0   0
Oct 15               Goucher  T, 0-0  0   4  .000   2   2   0   0
Oct 22                  Drew  L, 2-1  0   5  .200  10   1   1   0
Oct 26              Lycoming  L, 2-1  1   3  .333   8   4   0   0
Oct 29           at Scranton  L, 3-0  0   0     -   7   0   0   0

In [35]:
#Renaming all variables to be descrptive.
games=games.rename(columns={"a":"Assists","sh":"Shoot", "sh%": "Shoot percentage", "sv":"Save", "ck":"Corner kick", "yc":"Yellow card", "rc":"Red card"})
games

,Opponent,Score,Assists,Shoot,Shoot percentage,Save,Corner kick,Yellow card,Red card
Date,,,,,,,,,
Sep 1,Chatham,"L, 2-1",1,8,.125,3,7,0,0
Sep 3,at Westminster (Pa.),"L, 2-0",0,5,.000,8,3,0,0
Sep 4,Penn St.-Altoona,"T, 0-0",0,5,.000,6,4,0,0
Sep 7,at Albright,"T, 2-2",3,6,.333,3,5,1,0
Sep 10,at Cabrini,"L, 1-0",0,3,.000,8,1,1,0
Sep 14,at King's (Pa.),"L, 2-0",0,3,.000,5,2,0,0
Sep 17,at Hood,"L, 1-0",0,5,.000,3,3,1,0
Sep 20,Pitt.-Bradford,"W, 2-1",2,28,.071,3,6,0,0
Sep 24,Moravian,"L, 1-0",0,7,.000,4,6,0,0
Sep 28,Penn College,"W, 1-0",1,13,.077,4,4,1,0
Oct 1,at Elizabethtown,"L, 3-0",0,3,.000,11,3,0,0
Oct 5,at Pitt.-Greensburg,"T, 0-0",0,1,.000,4,1,0,0
Oct 8,at Catholic,"L, 4-0",0,2,.000,6,2,0,0
Oct 12,Susquehanna,"L, 4-0",0,5,.000,8,1,0,0
Oct 15,Goucher,"T, 0-0",0,4,.000,2,2,0,0
Oct 22,Drew,"L, 2-1",0,5,.200,10,1,1,0
Oct 26,Lycoming,"L, 2-1",1,3,.333,8,4,0,0
Oct 29,at Scranton,"L, 3-0",0,0,-,7,0,0,0

In [36]:
#Replacing - as NaN.
import numpy as np
games=games.replace("-", np.nan)
games

,Opponent,Score,Assists,Shoot,Shoot percentage,Save,Corner kick,Yellow card,Red card
Date,,,,,,,,,
Sep 1,Chatham,"L, 2-1",1,8,.125,3,7,0,0
Sep 3,at Westminster (Pa.),"L, 2-0",0,5,.000,8,3,0,0
Sep 4,Penn St.-Altoona,"T, 0-0",0,5,.000,6,4,0,0
Sep 7,at Albright,"T, 2-2",3,6,.333,3,5,1,0
Sep 10,at Cabrini,"L, 1-0",0,3,.000,8,1,1,0
Sep 14,at King's (Pa.),"L, 2-0",0,3,.000,5,2,0,0
Sep 17,at Hood,"L, 1-0",0,5,.000,3,3,1,0
Sep 20,Pitt.-Bradford,"W, 2-1",2,28,.071,3,6,0,0
Sep 24,Moravian,"L, 1-0",0,7,.000,4,6,0,0
Sep 28,Penn College,"W, 1-0",1,13,.077,4,4,1,0
Oct 1,at Elizabethtown,"L, 3-0",0,3,.000,11,3,0,0
Oct 5,at Pitt.-Greensburg,"T, 0-0",0,1,.000,4,1,0,0
Oct 8,at Catholic,"L, 4-0",0,2,.000,6,2,0,0
Oct 12,Susquehanna,"L, 4-0",0,5,.000,8,1,0,0
Oct 15,Goucher,"T, 0-0",0,4,.000,2,2,0,0
Oct 22,Drew,"L, 2-1",0,5,.200,10,1,1,0
Oct 26,Lycoming,"L, 2-1",1,3,.333,8,4,0,0
Oct 29,at Scranton,"L, 3-0",0,0,NaN,7,0,0,0

In [37]:
#Summary statistics of the games table.
gm=games.describe(include="all")
gm

,Opponent,Score,Assists,Shoot,Shoot percentage,Save,Corner kick,Yellow card,Red card
count,18,18,18.000000,18.000000,17,18.000000,18.000000,18.000000,18.0
unique,18,9,NaN,NaN,6,NaN,NaN,NaN,NaN
top,Chatham,"L, 2-1",NaN,NaN,.000,NaN,NaN,NaN,NaN
freq,1,3,NaN,NaN,11,NaN,NaN,NaN,NaN
mean,NaN,NaN,0.444444,5.888889,NaN,5.722222,3.055556,0.277778,0.0
std,NaN,NaN,0.855585,6.229804,NaN,2.674620,2.013841,0.460889,0.0
min,NaN,NaN,0.000000,0.000000,NaN,2.000000,0.000000,0.000000,0.0
25%,NaN,NaN,0.000000,3.000000,NaN,3.250000,1.250000,0.000000,0.0
50%,NaN,NaN,0.000000,5.000000,NaN,5.500000,3.000000,0.000000,0.0
75%,NaN,NaN,0.750000,5.750000,NaN,8.000000,4.000000,0.750000,0.0
max,NaN,NaN,3.000000,28.000000,NaN,11.000000,7.000000,1.000000,0.0

In [38]:
#Summary statistics of the games table.
gm.Opponent.value_counts()

18         2
Chatham    1
1          1
Name: Opponent, dtype: int64

In [39]:
#Exporting dataframe ot csv
games.to_csv("games.csv")

# Original Dataset

Date- Data of games

Opponents- Other teams played with. Some information where Juniata played

Score- Score records. Winning score first

a- Assists. How many assists were there

sh- Shoots. Total shoot by Juniata players 

sh%- Shoot percentage. Proportion of how many scores with total shoots

sv- Saves. Times goal keeper saved score

ck- Corner kick. How many corner kicks are there

yc- Yeloow card. How many yellow cards were given in the game

rc- Red card. How many red cards were given in the game

# Cleaned Dataset

Date- Date of games

Opponents- Other teams played with. Some information where Juniata played

Assists- How many assists were there

Shoots- Total shoot by Juniata players 

Shoot percentage- Proportion of how many scores with total shoots

Save- Times goal keeper saved score

Corner kick- How many corner kicks are there

Yeloow card- How many yellow cards were given in the game

Red card- How many red cards were given in the game

# Make a description for your pretend non-technical boss on what you have done and where you are in the data importation process

We have looked up the Juniata women's soccer team(JCWS) statistics, and chose two tables that describes players and games. Players table shows the summary of players data such as position, game appeared, or goals. For the games table, it tells the detail of the game JCWS played against other teams. Some variables are shotened, and it was hard to understand the meanings of the data. Instead, we have renamed the variables to make easy to read the record. After that, we see some values are not number, so we made the value as NaN(Not a Number). We showed the summary statistics so that we can make an analysis using those data in the future.

# Make a description for your data scientist colleague on what you have done and where you are in the data importation process

We have looked up the Juniata women's soccer team(JCWS) statistics, and chose two tables that describes players and games. Players table shows the summary of players data such as position, game appeared, or goals. For the games table, it tells the detail of the game JCWS played against other teams. First, we renamed the index as players and date using .index function so that we can see the which players and date easily. The variables that describes the data were abbreviated so we use .rename function to change the actual names in the dataframe. Some values are categorised as '-', so we used .replace function and numpy.nan to fill all '-' to transform NaN. After that, we looked at the summary statitistics using .describe so that we can do an analysis of the JCWS players and how the games went.